@*Shared Layout for all pages*@

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>BookStore</title>
    <link href="/lib/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    @* Makes the black line along top with the Title on it *@
    <div class="bg-black text-white p-2">
        <span class="navbar-brand ml-2">BOOK STORE</span>
    </div>
    @* Give 3 columns for the "look at all these books part, and 9 for the book list *@
    <div class="row m-1 p-1">
        <div id="categories" class="col-3">
            Look at all these books!
            <vc:types></vc:types>
        </div>
        <div class="col-9">
            @RenderBody()
        </div>
    </div>
</body>
</html>
@* This is a bootstrap address that I added in!  With Strong font for the title, and the abbreviation type *@
<footer>
    <address>
        <strong>Enterprise Development, Inc.</strong><br>
        W308 TRNB<br>
        Provo, UT 84602<br>
        <abbr title="Phone">P:</abbr> (801) 422-3884
    </address>
</footer>

