@page
@model mission09_annazlr.Pages.ConfirmationModel
@{
}
<div class="text-center">
    <h2>Thanks for your purchase! We hope you enjoy your books!</h2>
    <a class="btn btn-primary" asp-controller="Home">Return Home</a>
</div>
